<div class="footer-a ">
  <div class="container_width" fxLayout="row" fxLayoutAlign="space-between center" >
  <div>
    <span routerLink="/eventregistration" routerLinkActive="router-link-active"
          class="ironman-link-item">
       活動報名
    </span>

    <span routerLink="/serviceappointment" routerLinkActive="router-link-active"
          class="ironman-link-item">
      服務預約
    </span>
    <span routerLink="/commodityshopping" routerLinkActive="router-link-active"
          class="ironman-link-item">
       商品購物
    </span>

    <span routerLink="/welfarecommitteearea" routerLinkActive="router-link-active"
          class="ironman-link-item">
      福委專區
    </span>

  </div>
  <div>COPYRIGHT ©2014 WISTRON CORPORATION. All RIGHTS RESERVED.</div>

</div>
</div>
